ion-content {
    --background: #ffffff url('../../../assets/img/background-deco-main.png') no-repeat center top / contain;
    --overflow: hidden;
    

    h1 {
        font-family:'Pacifico';
        font-size: 34pt!important;
        color:black;
    }
    p {
        color:black;
    }
}

.logo {

    padding-top:10%;
    padding-left:10%;
    padding-right:10%;
    color:white;
}



img {
    height:40%!important;
}


h1 {
    font-family: 'Pacifico';
    font-size: 3.65em!important;

}
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: normal;
    src: url('../../../assets/fonts/Pacifico-Regular.ttf') format('ttf');
  }

  .flavor-text {
    text-align: center;
    font-size: 15pt;
}

  .avatar {
      width:40%;
      margin-left: auto;
      margin-right: auto;
  }