<ion-content>
  <section class="logo" style="height:30%">
      <ion-img src="../../../assets/img/logo-dark.png"></ion-img>
  </section>
  
  <section class="flavor-text">
    - Daily learning app -
  </section>

  <section class="flavor-text">
 <p>An indie project created by:</p>

   <ion-row class="ion-align-items-center">
    <ion-col>
        <ion-img class="avatar" src="../../../assets/img/avatar.png"></ion-img>
     
   </ion-col>
    </ion-row>
 
  <section class="flavor-text" style="align-items: center; display:flexbox;">
      <h3>Nicoleta Ciausu</h3>
      <ion-row class="ion-align-items-center">

       <ion-col><h4>ciausu00nicoleta@gmail.com</h4> </ion-col> 
       <!-- <ion-col><ion-icon size="large" name="logo-facebook" (click)="logoClick()"></ion-icon></ion-col>
        <ion-col><ion-icon size="large" name="logo-github" (click)="logoClick()"></ion-icon></ion-col>
        <ion-col><ion-icon size="large" name="logo-linkedin" (click)="logoClick()"></ion-icon></ion-col>
        -->
      </ion-row>
  </section>
</section>
  
</ion-content>
