ion-card {
    height:100%!important;
    width:100%!important;

}
ion-slides {
    height: 62vh;
}

img {
    height:50%!important;
}

.text-container {
    height:34%!important;
    padding-top: 3%
}
