<ion-slides id="slider-topics" pager="false" [options]="{effect: 'flip'}" >
     
  <ion-slide *ngFor="let item of categories ">
    <ion-card  color="light" no-padding>
      <img src="{{item.img}}" style="width:100%; object-fit: cover;">

      <div class="text-container">
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>{{item.name}}</ion-card-title>

      <ion-card-content>
       {{item.categoryId}}
       
    
      </ion-card-content>
    </div>
      <ion-row style="height:15%!important" >
        <ion-col>      
      <ion-button  (click)="cardClick($event.currentTarget, item.categoryId, item.lessonCount)" color="secondary">
        <ion-icon name="heart-empty" size="large"> </ion-icon>
      </ion-button>
       


        </ion-col>
      </ion-row>
    </ion-card>
  </ion-slide>  

    

  
    </ion-slides>