ion-content {
    --background: #263056 url('../../../assets/img/background-deco.png') no-repeat center top / contain;
    --overflow: hidden;
}

.logo {

    padding-top:20%;
    padding-left:10%;
    padding-right:10%;
}

.flavor-text {
    height:10%;
    text-align: center;
    color:white;
    font-size: 15pt;
}

.button-row {
    height:60%;
    padding-bottom:2%;
}

