<ion-content>

    <ion-row class="logo" style="height:30%">
      <ion-col>
        <ion-img src="../../../assets/img/logo.png"></ion-img>
      </ion-col>
    </ion-row>
    
    <ion-row class="flavor-text ">
      <ion-col><p>Învață ceva nou!</p></ion-col>
    </ion-row>
    
    <ion-row class="button-row ion-align-items-end" >
      <ion-col>
    
          <ion-button expand="full" color="secondary" routerLink="/greeter">Sa incepem!</ion-button>
    
      </ion-col>
    </ion-row>
    
    </ion-content>