<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="lesson-select">
      <ion-icon name="book"></ion-icon>
      <ion-label>Învață</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="topic-select">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Subiecte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookmarks">
      <ion-icon name="bookmark"></ion-icon>
      <ion-label>Favorite</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Setări</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>