<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="lesson-select">
      <ion-icon name="book"></ion-icon>
      <ion-label>Learn</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="topic-select">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Topics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>