<ion-header>

  
  <ion-toolbar color="primary">

      <ion-buttons slot="primary">
          <ion-button >
            <ion-icon slot="icon-only" name="menu" size="small"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="secondary">
            <ion-button routerDirection="backward" routerLink="/main-tabs"   >
              <ion-icon   slot="icon-only" name="home" size="small"></ion-icon>
            </ion-button>
          </ion-buttons>

    <ion-title>o o o o o</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="title-section ion-text-center">
      <h1>{{lesson.headerTitle}}</h1>
  </div>
  
  <div class="content">
      <section  *ngFor="let item of segments">
          <!-- <h4 class="ion-padding-start" style="margin-bottom:0" >{{item.subtitlu}}</h4> -->
           <p class="ion-margin" style="text-align: justify">{{item.paragraph}}</p>
           <figure style="margin-left:0; margin-right:0;">
             <img src="{{item.img}} " style="width:100vw">
             <figcaption style="text-align: center">{{item.imgCaption}}</figcaption>
           </figure>
         </section>
    <!-- <app-lesson-section></app-lesson-section> -->
  </div>

  <div class="social">
      <ion-toolbar (click)="completeLesson(lesson.categoryId)"  routerLink="/main-tabs"  id="toolbar-complete">
          <ion-buttons slot="secondary">
              <ion-button>
                <ion-icon slot="icon-only" name="heart" style="color:white"></ion-icon>
              </ion-button>
            </ion-buttons>
        Complete lesson!</ion-toolbar>

    <ion-toolbar  (click)="setBookmark(lesson)" id="toolbar-share" >
        <ion-buttons slot="secondary">
            <ion-button>
              <ion-icon slot="icon-only" name="share" style="color:white"></ion-icon>
            </ion-button>
          </ion-buttons>
      Share with your friends
    </ion-toolbar>
    <ion-toolbar  (click)="setBookmark(lesson)" id="toolbar-bookmark">
        <ion-buttons slot="secondary">
            <ion-button>
              <ion-icon slot="icon-only" name="bookmark" style="color:white"></ion-icon>
            </ion-button>
          </ion-buttons>
      Bookmark this lesson</ion-toolbar>
   
  </div>

</ion-content>
