<ion-header>

  
  <ion-toolbar color="primary">

      <ion-buttons slot="primary">
          <ion-button (click)="clickedStar()">
            <ion-icon slot="icon-only" name="menu" size="small"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="secondary">
            <ion-button>
              <ion-icon slot="icon-only" name="home" size="small"></ion-icon>
            </ion-button>
          </ion-buttons>

    <ion-title>o o o o o</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="title-section ion-text-center">
      <h4>topic</h4>
      <h1>Titlu lectie</h1>
  </div>
  
  <div class="content">
    <section>
<p class="ion-padding" style="text-align: justify">Placeholder text for styling. Cat <strong>ipsum</strong> dolor sit amet, fall over dead (not really but gets sypathy) pee in human's bed until he cleans the litter box and kitty power for meow. Relentlessly pursues moth. Rub face on owner lick arm hair refuse to drink water except out of someone's glass fall asleep on the washing machine meow for i hate cucumber pls dont throw it at me</p>
<figure style="margin-left:0; margin-right:0;">
<img src="../../../assets/img/placeholder.jpg" style="width:100%; height:40vh; object-fit: cover;">
<figcaption style="text-align: center">Fig.1 - Trulli, Puglia, Italy.</figcaption>
</figure>

    </section>
    <section>
<p class="ion-padding" style="text-align: justify">Sweet beast cough furball yet meow for food, then when human fills food dish, take a few bites of food and continue meowing slap kitten brother with paw lick human with sandpaper tongue so play time. Cough spread kitty litter all over house refuse to leave cardboard box sit on human crusty butthole. Sun bathe. Jump off balcony, onto stranger's head sniff catnip and act crazy but slap the dog because cats rule cat meoooow i iz master of hoomaan,</p>
<figure style="margin-left:0; margin-right:0;">
    <img src="../../../assets/img/placeholder.jpg" style="width:100%; height:40vh; object-fit: cover;">
    <figcaption style="text-align: center">Fig.1 - Trulli, Puglia, Italy.</figcaption>
    </figure>


    </section>
    <section>
<p class="ion-padding" style="text-align: justify">Placeholder text for styling. Cat ipsum dolor sit amet, fall over dead (not really but gets sypathy) pee in human's bed until he cleans the litter box and kitty power for meow. Relentlessly pursues moth. Rub face on owner lick arm hair refuse to drink water except out of someone's glass fall asleep on the washing machine meow for i hate cucumber pls dont throw it at me</p>
<figure style="margin-left:0; margin-right:0;">
    <img src="../../../assets/img/placeholder.jpg" style="width:100%; height:40vh; object-fit: cover;">
    <figcaption style="text-align: center">Fig.1 - Trulli, Puglia, Italy.</figcaption>
    </figure>


    </section>
    <section>
<p class="ion-padding" style="text-align: justify">Placeholder text for styling. Cat ipsum dolor sit amet, fall over dead (not really but gets sypathy) pee in human's bed until he cleans the litter box and kitty power for meow. Relentlessly pursues moth. Rub face on owner lick arm hair refuse to drink water except out of someone's glass fall asleep on the washing machine meow for i hate cucumber pls dont throw it at me</p>
<figure style="margin-left:0; margin-right:0;">
    <img src="../../../assets/img/placeholder.jpg" style="width:100%; height:40vh; object-fit: cover;">
    <figcaption style="text-align: center">Fig.1 - Trulli, Puglia, Italy.</figcaption>
    </figure>


    </section>
  </div>

  <div class="social">
    <ion-toolbar id="toolbar-share" >
        <ion-buttons slot="secondary">
            <ion-button>
              <ion-icon slot="icon-only" name="share" style="color:white"></ion-icon>
            </ion-button>
          </ion-buttons>
      Share with yo friends
    </ion-toolbar>
    <ion-toolbar id="toolbar-bookmark">
        <ion-buttons slot="secondary">
            <ion-button>
              <ion-icon slot="icon-only" name="bookmark" style="color:white"></ion-icon>
            </ion-button>
          </ion-buttons>
      Bookmark this lesson</ion-toolbar>
   
  </div>

</ion-content>
