.title-section {

  
    h1 {
        padding-bottom:0;
        margin-bottom:10%;
        margin-top:6%;
        font-weight: bold;
    }
}

strong {
    color:var(--ion-color-secondary);
    
}

.social {
    ion-toolbar {
        --padding-top:15px;
        --padding-bottom:15px;
        --padding-start:10px;
    }
}

#toolbar-complete {

    --color:var(--ion-color-secondary-contrast);
    --background:var(--ion-color-secondary-tint);
}

#toolbar-share {

    --color:var(--ion-color-secondary-contrast);
    --background:var(--ion-color-secondary);
}

#toolbar-bookmark {

    --color:var(--ion-color-secondary-contrast);
    --background:var(--ion-color-secondary-shade);
}


 