<ion-content>
<!-- 

 
     
-->
  
<ion-slides pager="true">
    <ion-slide class="step-one">
        <ion-icon name="book"></ion-icon>
        <h1>Alege ce te intereseaza</h1>
        <p>Alege unul (sau mai multe!) dintre subiectele disponibile in Ripple, in functie de pasiunile tale. </p>
    </ion-slide>

    <ion-slide class="step-two">
        <ion-icon name="notifications"></ion-icon>
        <h1>Alege ora notificarii</h1>
        <p>Alege o ora la care vrei sa iti fie reamintit sa deschizi aplicatia, ca sa iti citesti lectia zilnica!</p>
    </ion-slide>

    <ion-slide class="step-three">
        <ion-icon  name="happy"></ion-icon>
        <h1>Primeste o lectie!</h1>
        <p>Vei primi in fiecare zi o lectie dintr-un subiect ales de tine, astfel vei invata lucruri noi!</p>

        <ion-button  color="secondary" routerLink="/topics" >Incepe setup-ul!</ion-button>
    </ion-slide>
</ion-slides>
    
    </ion-content>