<ion-content>
        <ion-row class="logo justify-content-center align-items-center" align="center" style="height:27%">
          <ion-col no-padding no-margin>
            <h1>Bun venit!</h1>
            <p style="margin-bottom:0!important">Despre ce subiecte vrei să înveți?</p>

          </ion-col>
        </ion-row>
        
        <ion-row class="card-row justify-content-center align-items-center" align="center">
          <ion-col>
            <app-topic-cards id="topicCardsId"></app-topic-cards>
            </ion-col>
        </ion-row>
        
        
        <ion-row class="button-row ion-align-items-end" style="padding-top:5px">
          <ion-col>
        
              <ion-button expand="full" (click)="saveTopics()" color="secondary" routerLink="/timeset">Continuă</ion-button>
        
          </ion-col>
        </ion-row>
        
        </ion-content>