<ion-content>

        <ion-row class="logo justify-content-center align-items-center" align="center" style="height:30%">
          <ion-col>
            <h1 style="font-family:'Pacifico' " >Welcome!</h1>
            <p>What do you want to learn about?</p>

          </ion-col>
        </ion-row>
        
        <ion-row class="card-row justify-content-center align-items-center" align="center">
          <ion-col>
          <ion-slides pager="true" [options]="{effect: 'flip' }" style="height:55vh">
     
            <ion-slide>
                <app-topic-card></app-topic-card>
            </ion-slide>    
            <ion-slide>
                <app-topic-card></app-topic-card>
            </ion-slide>    
            <ion-slide>
                <app-topic-card></app-topic-card>
            </ion-slide>    
       
                
      
            
              </ion-slides>
            </ion-col>
        </ion-row>
        
        <ion-row class="button-row ion-align-items-end" >
          <ion-col>
        
              <ion-button expand="full" color="secondary" routerLink="/topics">Let's begin!</ion-button>
        
          </ion-col>
        </ion-row>
        
        </ion-content>