<ion-header>
  <ion-toolbar>
    <ion-title>Setări</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item>
            <ion-label>Schimba ora notificarii</ion-label> <!-- TODO: implement -->
        </ion-item>
        <ion-item routerLink="/lessons-listall">
          <ion-label>Vezi toate lectiile</ion-label> <!-- TODO: implement -->
        </ion-item>
   
      <ion-item routerLink="/about">
        <ion-label>Despre autor</ion-label>
      </ion-item>
    </ion-list>
      
      

</ion-content>
