<ion-content>

  <ion-row class="logo justify-content-center align-items-center" align="center" style="height:30%">
    <ion-col>
      <h1>Great!</h1>
      <p>What hour should we notify you?</p>

    </ion-col>
  </ion-row>
  
  <ion-row class="card-row justify-content-center align-items-center" align="center">
    <ion-col>
      <ion-item style="padding:5px">
        <ion-label>Choose the time:</ion-label>
        <ion-datetime color="secondary" placeholder="Tap here" [(ngModel)]="selectedTime" (ionChange)="saveTime()" displayFormat="HH:mm" ></ion-datetime>
      </ion-item>

      </ion-col>
  </ion-row>
  
  <ion-row class="button-row ion-align-items-end" >
    <ion-col>
  
        <ion-button expand="full" color="secondary" (click)="finishSetup()" routerLink="/lesson-view">Finish!</ion-button>
  
    </ion-col>
  </ion-row>
  
  </ion-content>