<ion-content>
  <ion-row class="logo justify-content-center align-items-center" align="center" style="height:30%">
    <ion-col>
      <h1>Super!</h1>
      <p>La ce oră vrei să fii notificat pentru a primi lecția?</p>

    </ion-col>
  </ion-row>
  
  <ion-row class="card-row justify-content-center align-items-center" align="center">
    <ion-col>
      <ion-item style="padding:5px">
        <ion-label>Alege ora:</ion-label>
        <ion-datetime color="secondary" placeholder="Tap here" [(ngModel)]="selectedTime" (ionChange)="saveTime()" displayFormat="HH:mm" ></ion-datetime>
      </ion-item>
     
      </ion-col>
  </ion-row>

  <ion-row  align="center" class="ion-justify-content-center ion-align-items-center">

            <a href="#" (click)="finishSetup(false)" routerLink="/main-tabs" class="link-text" >Nu vreau sa fiu notificat</a>
  
     
  </ion-row>
  
  <ion-row class="button-row ion-align-items-end" >

   
    <ion-col>
      
     
        <ion-button  *ngIf="hr!=null" expand="full" color="secondary" (click)="finishSetup(true)" routerLink="/main-tabs">Gata!</ion-button>
  
    </ion-col>
  </ion-row>
  
  </ion-content>