<ion-content>
  <ion-row class="logo justify-content-center align-items-center" align="center" style="height:27%">
    <ion-col no-padding no-margin>
      <h1>Welcome back!</h1>
      <p style="margin-bottom:0!important">Here's your lesson for the day:</p>

    </ion-col>
  </ion-row>
  
  <ion-row class="lessons-container justify-content-center align-items-center"  align="center">
      
    <ion-card style="width:100%; margin-top:0;"  color="light" no-padding>
          <img src="../../../assets/img/placeholder.jpg" style=" height:50%; width:100%; object-fit: cover;">
    
          <div class="text-container">
            <ion-card-subtitle>{{(topicName)}}</ion-card-subtitle>
            <ion-card-title >{{(todaysLesson)?.titlu}}</ion-card-title>
    
          <ion-card-content>
            {{(todaysLesson)?.desc}}
          </ion-card-content>
        </div>
         
        </ion-card>
  </ion-row>  

  <ion-row style="height:13vh!important;"class="justify-content-center align-items-center"  align="center">

      <ion-col class="ion-align-self-center">
          <ion-button (click)="startLesson() " [routerLink]="'/lesson-view/' + 'aaa'" >Begin</ion-button>

        </ion-col>

  </ion-row>


  </ion-content>

  <ion-footer>
      <ion-toolbar color="primary">
  
          <ion-buttons slot="end">
              <ion-menu-button autoHide="false"></ion-menu-button>
          
            </ion-buttons>
            
      </ion-toolbar>
    </ion-footer>